body {
    background-image: url(../images/background-2.jpg);
    opacity: 75%;
}

h1 {
    font-family: 'Lemonada', cursive;
    color: purple;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

h4 {
    font-family: 'Lacquer', sans-serif;
    font-size: medium;
    color: lightcoral;
    text-align: center;
    padding-top: 10px;
}

p {
    font-family: 'Lacquer', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}
